*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 56px;
  font-family: 'Merriweather', serif;
}

ul{
  list-style: none;
}

.listas{
  margin-top: 5vw;
}

h5{
  color: #ffd7a9;
}

.nav-container { 
  display: grid;
  grid-template-columns:1fr 3fr 1fr;
  grid-template-rows: 0.5fr 0.2fr;
  grid-template-areas:
  "navbar-brand ingresar changuito"
  "navbar-brand navegador navegador";
  margin-top: 1.5vw;
}

.ingresar{
  grid-area: ingresar;
  justify-self:self-end;
  border: none;
  color: #ffd7a9;
}

input{
  padding-left: 0.5vw;
  color: #143642;
}

.navbar-brand{
  grid-area: navbar-brand;
  align-self: self-start;
}

.imgLogo{
  width: 90%;

}

.changuito{
  grid-area: changuito;
  justify-self: self-start;
  padding-top: 0.5vw;
}

.changuito li{
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bolder;
}

.submenu {
  position: relative;

}

.submenu #carrito{
  display: none;
}
.submenu:hover #carrito{
  display: block;
  position: absolute;
  right:0;
  top:2vw;
  z-index: 100;
  background-color: white;
  padding: 2.5vw 1vw 0vw 1vw;
  min-height: 300px;
  min-width: 200px;
}

th{
  font-size: 0.8rem;
  padding: 0vw 2vw ;
}

.cantidadProductos{
  color:white;
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 0.5vw;
}

.carritoImg{
  color: white;
  font-size: 1.2rem;
  margin-left: 1vw;
}

.navegador{
  grid-area: navegador;
  margin-left: 21vw;

}

.navegador ul{
  display: flex;
  flex-flow: row wrap; 
  margin-left: 9vw;
}

.menu-class{
  padding: 0rem 2rem;
  font-family: 'Merriweather', serif;
  font-size: 0.8rem;
}

.menu-class a:link, .menu-class a:visited{ 
  color: rgba(255, 255, 255, 0.748);
  text-decoration: none; 
}
.menu-class a:hover, .menu-class a:active { 
  color:#ffd7a9; 
  text-decoration: none;
}

.borrar{
  clear: both;
}

#botonRegistro:hover {
  cursor: pointer;
  color: white;
}
#botonRegistro:focus {
  outline: none;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 2000;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.modal-datos {
  position: relative;
  background-color: #143642ce;
  width: 300px;
  height: 300px;
  display: flex;
  flex-flow: column wrap;
  padding: 25px;
  margin-top: -100%;
  transition: all .5s;
  color: white;
}

.modal-active .modal-datos {
  margin-top: 0;
}

.modal-datos #aceptar {
  position: absolute;
  bottom: 15px;
  right: 20px;
  border: none;

}
.modal-datos #aceptar:hover {
  cursor: pointer;
}
.modal-datos #aceptar:focus {
  outline: none;
}

.cuadroEnvio{
  padding: 1vw;
  border: #143642ce 2px solid;
}

.img-slide{
  width: 100%;
  margin-top: 1vw;
}

.cardStyle:hover{
  transform: scale(1.1 , 1.1);
  box-shadow: 2px 2px 5px #999;;
  z-index: 100;
}

.card-title{
  color: #143642;
  font-weight:600;
}

.card-title:hover{
  text-decoration: none;
  color: #9e5807;
}

.card-style{
  background-color:#143642;
  color: white; 
  padding: 0.2em 1em

}

a{
  color: #ffffff;
}

a:hover{
  color:#ffd7a9;
}

#lista-carrito{
  font-family: 'Asap', sans-serif;
  list-style-type: none;
  letter-spacing: 1px;
  font-size: 0.75rem; 
  font-weight: 600;
  margin-left: auto;
  display: inline-block;
  position: relative;
  margin: 10px;
  text-align: left;


}

#footer_tb{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.buttonNuevo{
  margin: 1vw;
  font-size: medium;
  width: 95%;

}

.tabla-carrito{
  border-bottom: 1px solid;
}

.cant-carr{
  width: 10vw;
  border: none;
}

td{
  padding: 2vw;
}

.boton-eliminar, .boton-eliminar:hover, .boton-eliminar:visited, .boton-eliminar:active{
  border-style: none;
}