*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 56px;
  font-family: 'Merriweather', serif;
}

ul{
  list-style: none;
}

.listas{
  margin-top: 5vw;
}

h3{
  color: white;
}
.nav-container { 
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.2fr;
  grid-template-rows: 0.2fr 0.1fr;
  grid-template-areas:
  "img ingresar changuito"
  "img navegador navegador";
  padding-top: 2rem;
  margin: 0vw 5vw;
}

.ingresar{
  grid-area: ingresar;
  margin-right: 2vw ;
  align-self: center;
  justify-self:self-end;
  border: none;
  color: white;
  
}

input{
  padding-left: 0.5vw;
  color: #143642;
}

.imgLogo{
  grid-area: img;
  width: 90%;
}

.changuito{
  grid-area: changuito;
  align-self: center;
  justify-self:self-end;
}

.img-carrito{
  width: 40%;
  padding-right: 0.4rem;
}
.img-carrito:hover{
  transform: scale(1.6 ,1.6);
}

.navegador{
  grid-area: navegador;
  margin-left: 21vw;
  padding-bottom: 1vw;
}

.navegador ul{
  display: flex;
  flex-flow: row wrap; 
  margin-left: 9vw;
}

.menu-class{
  padding: 0rem 2rem;
  font-family: 'Merriweather', serif;
  font-size: 0.8rem;
}

.menu-class a:link, .menu-class a:visited{ 
  color: rgba(255, 255, 255, 0.748);
  text-decoration: none; 
}
.menu-class a:hover, .menu-class a:active { 
  color:#ffd7a9; 
  text-decoration: none;
}

.borrar{
  clear: both;
}

#botonRegistro:hover {
  cursor: pointer;
  color: white;
}
#botonRegistro:focus {
  outline: none;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 2000;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.modal-datos {
  position: relative;
  background-color: #143642ce;
  width: 300px;
  height: 300px;
  display: flex;
  flex-flow: column wrap;
  padding: 25px;
  margin-top: -100%;
  transition: all .5s;
  color: white;
}

.modal-active .modal-datos {
  margin-top: 0;
}

.modal-datos #aceptar {
  position: absolute;
  bottom: 15px;
  right: 20px;
  border: none;

}
.modal-datos #aceptar:hover {
  cursor: pointer;
}
.modal-datos #aceptar:focus {
  outline: none;
}

.cuadroEnvio{
  padding: 1vw;
  border: #143642ce 2px solid;
}

.img-slide{
  width: 100%;
  margin-top: 1vw;
}

.cardStyle:hover{
  transform: scale(1.1 , 1.1);
  box-shadow: 2px 2px 5px #999;;
  z-index: 100;
}

.card-title{
  color: #143642;
  font-weight:600;
}

.card-title:hover{
  text-decoration: none;
  color: #9e5807;
}

.table-style{
  border: solid 1px #ffffff;
  background-color: #143642c2;
  padding: 0.75rem;
  display: table-cell;
  border-spacing: 2px;
  border-collapse: collapse;
  color: #ffffff;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

th{
  padding: 0vw 4vw;
  font-weight: normal;
}

.card-style{
  background-color:#143642;
  color: white; 
  padding: 0.2em 1em

}